<div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s6">
          <input value="Alvin" id="first_name2" type="text" class="validate">
          <label class="active" for="first_name2">First Name</label>
        </div>
      </div>
      <button (click)="inscrire()" > S'inscrire</button>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
