<header>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Logo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a routerLink="/" >Accueil</a></li>
            <li><a routerLink="apropos">A propos</a></li>
            <li><a routerLink="formations">Formations</a></li>
            <li><a routerLink="contact">Contact</a></li>
            <li><a routerLink="type">Typescript</a></li>
            <li><a routerLink="poke">Pokemons</a></li>
          </ul>
        </div>
      </nav>
</header>
