<div class="row">
<div *ngFor="let pokemon of pokemons" class="col s4">
    <h2> {{ pokemon.name.fr}}</h2>
    <img [src]="pokemon.sprites.regular" alt="" width="350">
    <div class="col">
        <div *ngFor="let pokeType of pokemon.types" class="col s6">
            <img [src]=" pokeType.image" alt="" width="50">
        </div>
    </div>
    <a class="waves-effect waves-light btn modal-trigger" href="#modal1" (click)="selectedPokemon(pokemon)"> Modal</a>
</div>
</div>

 <!-- Modal Trigger -->
 <app-pokemon-detail [pokemonEnfant]="pokemonParent"></app-pokemon-detail>



