
<!-- 
<img  *ngIf="displayImage" class="materialboxed" width="650" src="https://images.unsplash.com/photo-1601513445498-5dbffc8d5d5a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
<button class="btn" (click)="display()"> {{ displayImage? "cacher":"afficher"}} Image </button>


<ul *ngFor=" let nom of noms">
    <li> {{ nom }}</li>
</ul>


<h2> {{ nombre}} </h2>
<app-contact *ngIf="formu"></app-contact>
<button (click)="affi()">  Valider</button> -->




<h2> Dollars en Euros</h2>
<p>{{ monnaie}}</p>
<button class="btn" (click)="  convertir()"> Convertir</button>


// 
